{% extends "words/base.html" %}

{% block content %}
<div class="container py-5" style="max-width: 500px;">
    <h1 class="text-center mb-4">
        Wprowadź nowe haslo
    </h1>

    <p class="text-center text-muted mb-4">
        Ustaw nowe hasło do swojego konta.
    </p>

    <form method="post" class="login-form">
        {% csrf_token %}
        <p>
            <label>Nowe hasło</label>
            {{ form.new_password1 }}

            {% for error in form.new_password1.errors %}
                <small class="text-danger d-block">
                    {{ error }}
                </small>
            {% endfor %}
        </p>

        <p>
            <label>Potwierdź hasło</label>
            {{ form.new_password2 }}

            {% for error in form.new_password2.errors %}
                <small class="text-danger d-block">
                    {{ error }}
                </small>
            {% endfor %}
        </p>

        {% for error in form.non_field_errors %}
            <small class="text-danger d-block text-center">
                {{ error }}
            </small>
        {% endfor %}

        <div class="text-center mt-5">
            <button type="submit" class="btn login-btn">
                Zmień hasło
            </button>
        </div>
    </form>
</div>
{% endblock %}