<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo loop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
</head>

<body style="background-color: #ffffff;">

    <nav class="navbar navbar-expand-lg bg-white py-2 shadow">
        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand fw-bold fs-3" href="/">
                FiszkoMat
            </a>

            <!-- Menu -->
            <div class="d-flex gap-4 align-items-center">

                <a class="nav-link menu-link text-dark" href="/">
                    Strona główna
                </a>
                <a class="nav-link menu-link text-dark" href="/categories">
                    Kategorie
                </a>

                <a class="nav-link menu-link text-dark" href="/study">
                    Nauka
                </a>

            </div>

            <!-- Auth -->
            <div class="d-flex gap-3 align-items-center">

                <a class="nav-link text-dark" href="">
                    Logowanie
                </a>

                <a class="btn btn-dark px-4 rounded-pill auth-btn" href="">
                    Rejestracja
                </a>

            </div>

        </div>
    </nav>

{% block content %}
{% endblock %}

</body>
</html>
