{% extends "words/base.html" %}

{% load static %}

{% block content %}

<div class="container text-center py-5">

    <div class="row align-items-center">

        <div class="col">
            <img
                src="{% static 'images/england2.jpg' %}"
                class="img-fluid"
                alt="England"
            >

        </div>

        <div class="col">

            <div class="hero-text">
                Fiszki pomagają uczyć się szybciej. <br />
                Wystarczy kilka minut dziennie.
            </div>

            <div class="hero-subtext">
                <ul class="hero-list" style="margin-left: 40px;">
                    <li>uczysz się regularnie bez presji</li>
                    <li>zapamiętujesz szybciej dzięki powtórkom</li>
                    <li>rozwijasz słownictwo każdego dnia</li>
                    <li>przygotujesz się do egzaminów i rozmów</li>
                    <li>kilka minut dziennie daje realne efekty</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">

    <h2 class="section-title">
        Jak uczyć się skutecznie?
    </h2>

    <div class="row g-4">

        <div class="col">
            <div class="feature-card">
                <div class="feature-number">
                    1
                </div>

                <h4>
                    Wybierz albo stwórz kategorię.
                </h4>

                <p class="feature-subtext">
                    Ucz się słówek z interesujących Cię tematów i twórz własne zestawy.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="feature-card">
                <div class="feature-number">
                    2
                </div>

                <h4>
                    Powtarzaj regularnie
                </h4>

                <p class="feature-subtext">
                    System fiszek pomaga szybciej zapamiętywać nowe słówka.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="feature-card">
                <div class="feature-number">
                    3
                </div>

                <h4>
                    Śledź postępy
                </h4>

                <p class="feature-subtext">
                    Obserwuj poprawne i błędne odpowiedzi podczas nauki słówek.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}