<html>
    <head>
        <title>Fiszki</title>
    </head>

    <body>
        <h1>Tłumaczenie słówek</h1>

        {{ word.text_pl }}

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word.id }}">
            <input type="text" name="answer">

            <button type="submit">
                Sprawdź
            </button>

            <button type="submit" name="end_session">
                Zakończ
            </button>
        </form>

        {{ result }}
        <br />
        Poprawne: {{ num_attempts }}
        Błędne: {{ num_attempts }}

    </body>
</html>