{% extends "words/base.html" %}
{% block content %}

<div class="container py-5 text-center" style="max-width: 600px;">
    {% if edit_set %}
        <form method="post" class="mb-4">
            {% csrf_token %}

            <div class="d-flex justify-content-center align-items-center gap-2">
                <input
                    type="text"
                    name="set_name"
                    class="set-name-input form-control form-control-lg text-center"
                    style="max-width: 320px;"
                    value="{{ word_set.name }}"
                >

                <button
                    type="submit"
                    name="update_set_name"
                    class="btn btn-sm btn-outline-secondary"
                    title="Zapisz nazwę">
                    <i class="bi bi-check-lg"></i>
                </button>

                <a
                    href="{% url 'my_set_detail' word_set.slug %}"
                    class="btn btn-sm btn-outline-secondary"
                    title="Anuluj">
                    <i class="bi bi-x-lg"></i>
                </a>
            </div>
        </form>
    {% else %}
        <div class="d-flex justify-content-center align-items-center gap-2 mb-4">
            <h1 class="set-name-heading mb-0">
                {{ word_set.name }}
            </h1>

            <a
                href="{% url 'my_set_detail' word_set.slug %}?edit_set=true"
                class="btn btn-sm btn-outline-secondary"
                title="Zmień nazwę zestawu">
                <i class="bi bi-pencil"></i>
            </a>
        </div>
    {% endif %}

    <form method="post" class="mt-4" autocomplete="off">
        {% csrf_token %}

        {% if edit_word %}
            <input type="hidden" name="edit_word_id" value="{{ edit_word.id }}">
        {% endif %}

        <input
            type="text"
            name="text_pl"
            class="form-control mb-3"
            placeholder="Polskie słowo"
            value="{% if edit_word %}{{ edit_word.text_pl }}{% endif %}"
            autofocus
        >

        <input
            type="text"
            name="text_en"
            class="form-control mb-3"
            placeholder="Angielskie słowo"
            value="{% if edit_word %}{{ edit_word.text_en }}{% endif %}"
        >

        <div class="mt-4 d-flex flex-column flex-md-row align-items-center justify-content-center gap-3">
            <button
                type="submit" class="btn study-btn">
                {% if edit_word %}Zapisz zmiany{% else %}Dodaj słowo{% endif %}
            </button>

            <a href="{% url 'my_sets' %}" class="btn end-btn btn-lg">
                Wróć do: Moje zestawy
            </a>
        </div>
     </form>

    {% if message %}
    <p class="text-danger mt-3">
        {{ message }}
    </p>
    {% endif %}
</div>
<div class="container py-5 text-center" style="max-width: 800px;">
    <div>
        <h4>Słówka</h4>
        <div class="mt-1">
            Liczba słówek: {{ word_set.words.count }}
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mt-4 mx-auto text-center">
                {% for word in word_set.words.all %}
                    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start py-2 border-bottom my-set-row">

                        <div class="d-flex align-items-start gap-3 word-left">
                            <input
                                type="checkbox"
                                name="selected_words"
                                value="{{ word.id }}"
                                class="big-checkbox"
                            >

                            <div class="word-text text-start">
                                <strong>{{ word.text_pl }}</strong>
                                <span class="text-muted">— {{ word.text_en }}</span>
                            </div>
                        </div>

                        <a
                            href="{% url 'my_set_detail' word_set.slug %}?edit_word={{ word.id }}"
                            class="btn my-set-action-btn">
                            Edytuj
                        </a>

                    </div>
                {% empty %}
                    <p>Brak słówek w zestawie</p>
                {% endfor %}
            </div>

            <button
                type="submit"
                name="delete_words"
                class="btn end-btn mt-4">
                Usuń zaznaczone
            </button>

        </form>
    </div>

</div>

{% endblock %}