{% extends "words/base.html" %}
{% block content %}

<div class="container py-5 text-center" style="max-width: 500px;">
    <h1>{{ word_set.name }}</h1>

    <form method="post" class="mt-4" autocomplete="off">
        {% csrf_token %}

        <input
            type="text"
            name="text_pl"
            class="form-control mb-3"
            placeholder="Polskie słowo"
            autofocus
        >

        <input
            type="text"
            name="text_en"
            class="form-control mb-3"
            placeholder="Angielskie słowo"
        >

        <button
            type="submit"
            class="btn study-btn rounded-pill me-3">
            Dodaj słowo
        </button>

        <a href="/my-sets/" class="btn end-btn btn-lg rounded-pill">
            Wróć do: Moje zestawy
        </a>
     </form>

    <div class="mt-5">
        <h4>Słówka</h4>
        <div class="mt-1">
            Liczba słówek: {{ word_set.words.count }}
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mt-4 mx-auto text-center" style="max-width: 600px;">
                {% for word in word_set.words.all %}
                    <div class="d-flex justify-content-between align-items-center py-2 border-bottom">

                        <div class="d-flex align-items-center gap-3">
                            <input
                                type="checkbox"
                                name="selected_words"
                                value="{{ word.id }}"
                                class="big-checkbox"
                            >

                            <div>
                                <strong>{{ word.text_pl }}</strong>
                                <span class="text-muted">— {{ word.text_en }}</span>
                            </div>
                        </div>

                    </div>
                {% empty %}
                    <p>Brak słówek w zestawie</p>
                {% endfor %}
            </div>

            <button
                type="submit"
                name="delete_words"
                class="btn end-btn mt-4 rounded-pill">
                Usuń zaznaczone
            </button>

        </form>
    </div>

</div>

{% endblock %}