{% extends "words/base.html" %}
{% load static %}

{% block content %}

<div class="container py-3 text-center" style="max-width: 1200px;">
    <div class="row align-items-center">
        <div class="col-md-4 text-start">
            <h1 class="page-hero-title">
                Moje zestawy
            </h1>

            <p class="page-hero-text">
                Ucz się tego, czego naprawdę potrzebujesz.
            </p>
        </div>

        <div class="col-md-5 text-center">
            <img
                src="{% static 'images/fiszki_4.png' %}"
                class="img-fluid rounded-3"
                alt="Moje zestawy"
            >
        </div>

        <div class="col-md-3 text-center">
            <a
                href="/my-sets/create/"
                class="btn study-btn btn-lg px-5"
            >
                + Nowy zestaw
            </a>
         </div>
    </div>
</div>

<div class="container" style="max-width: 1200px">
    <div class="row justify-content-center g-4">
        <div class="col-md-3">
            <div class="my-sets-stat-card">
                <div class="my-sets-stat-icon stat-blue">
                    <i class="bi bi-file-earmark-text"></i>
                </div>
                    <div>
                        <div class="my-sets-stat-number">
                        {{ set_count }}
                    </div>
                    <div class="my-sets-stat-label">
                        {{ set_label }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="my-sets-stat-card">
                <div class="my-sets-stat-icon stat-green">
                    <i class="bi bi-book"></i>
                </div>

                <div>
                    <div class="my-sets-stat-number">
                        {{ total_words }}
                    </div>
                    <div class="my-sets-stat-label">
                        Łączna liczba słówek
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="my-sets-stat-card">
                <div class="my-sets-stat-icon stat-purple">
                    <i class="bi bi-clock-history"></i>
                </div>

                <div>
                    <div class="my-sets-stat-number">
                        {{ day_count }} {{ day_label }}
                    </div>
                    <div class="my-sets-stat-label">
                        Aktualna seria
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="my-sets-stat-card">
                <div class="my-sets-stat-icon stat-orange">
                    <i class="bi bi-fire"></i>
                </div>

                <div>
                    <div class="my-sets-stat-number">
                         {{ number_of_sessions }}
                    </div>
                    <div class="my-sets-stat-label">
                        Ukończone sesje
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4" style="max-width: 1200px;">
    <div class="my-sets-main-panel">

        <div class="d-flex justify-content-between align-items-center px-4 pt-3 mb-3">
            <div class="my-sets-tabs m-0">

                <a
                    href="/my-sets/?filter=all"
                    class="my-tab {% if current_filter == 'all' %}active{% endif %}"
                    title="wszystkie">
                    Wszystkie
                </a>

                <a
                    href="/my-sets/?filter=favorites"
                    class="my-tab {% if current_filter == 'favorites' %}active{% endif %}"
                    title="ulubione">
                    Ulubione
                </a>

                <a
                    href="/my-sets/?filter=recent"
                    class="my-tab {% if current_filter == 'recent' %}active{% endif %}"
                    title="ostatnie">
                    Ostatnio używane
                </a>

            </div>

            <form method="get" class="my-sets-search-form m-0">
                <div class="input-group">
                    <input
                        type="search"
                        name="q"
                        class="form-control"
                        placeholder="Szukaj zestawu..."
                        value="{{ search_query }}"
                    >

                    <input type="hidden" name="filter" value="{{ current_filter }}">

                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>

            <div class="pe-2">
                <form method="get" class="d-flex align-items-center gap-2 justify-content-end">
                    <label class="page-size-label" for="sort_by">Sortowanie:</label>
                    <select class="page-size-select" name="sort" id="sort_by" onchange="this.form.submit()">
                        <option value="newest" {% if sort_by == "newest" %}selected{% endif %}>Najnowsze</option>
                        <option value="oldest" {% if sort_by == "oldest" %}selected{% endif %}>Najstarsze</option>

                        <option value="name_asc" {% if sort_by == "name_asc" %}selected{% endif %}>Nazwa (A-Z)</option>
                        <option value="name_desc" {% if sort_by == "name_desc" %}selected{% endif %}>Nazwa (Z-A)</option>

                        <option value="word_count_asc" {% if sort_by == "word_count_asc" %}selected{% endif %}>Najmniej słówek</option>
                        <option value="word_count_desc" {% if sort_by == "word_count_desc" %}selected{% endif %}>Najwięcej słówek</option>

                        <option value="progress_asc" {% if sort_by == "progress_asc" %}selected{% endif %}>Najmniejszy postęp</option>
                        <option value="progress_desc" {% if sort_by == "progress_desc" %}selected{% endif %}>Największy postęp</option>
                    </select>
                    <input type="hidden" name="q" value="{{ search_query }}">
                    <input type="hidden" name="filter" value="{{ current_filter }}">
                    <input type="hidden" name="per_page" value="{{ per_page }}">
                </form>
            </div>


        </div>
        <div class="my-sets-list">
            {% for item in page_obj %}
                <div id="set-{{ item.set.id }}" class="my-set-row my-set-progress-row">

                    <div class="my-set-list-icon {{ item.set.icon_color }}">
                        <i class="bi {{ item.set.icon }}"></i>
                    </div>

                    <div class="my-set-main">
                        <div class="d-flex align-items-center gap-3">
                            <div class="my-set-name">
                                {{ item.set.name }}
                            </div>


                            <form method="post" class="d-inline">
                                {% csrf_token %}

                                <input type="hidden" name="favorite_set_id" value="{{ item.set.id }}">
                                <input type="hidden" name="next" value="{{ request.get_full_path }}#set-{{ item.set.id }}">
                                <button type="submit"  class="favorite-btn">
                                    {% if item.set.is_favorite %}
                                        <i class="bi bi-star-fill favorite-star"></i>
                                    {% else %}
                                        <i class="bi bi-star favorite-star-empty"></i>
                                    {% endif %}
                                </button>
                            </form>

                        </div>

                        <div class="my-set-meta">
                            {{ item.word_count }} słówek
                        </div>
                    </div>

                    <div class="my-set-progress-box">
                        <div class="my-set-progress-bar">
                            <div class="my-set-progress-fill {{ item.set.icon_color }}" style="width: {{ item.progress }}%"></div>
                        </div>

                        <div class="my-set-progress-text">
                            Postęp: {{ item.progress }}%
                        </div>
                    </div>

                    <div class="my-set-actions d-flex justify-content-center gap-3">
                        <a
                            href="/study/{{ item.set.slug }}/?filter={{ current_filter }}"
                            class="d-flex btn my-set-study-btn justify-content-center align-items-center gap-1">
                            <i class="bi bi-play action-icon"></i> <span>Ucz się</span>
                        </a>

                        <a
                            href="/my-sets/{{ item.set.slug }}/"
                            class="d-flex btn my-set-edit-btn justify-content-center align-items-center gap-2">
                            <i class="bi bi-pencil action-icon"></i> <span>Edytuj</span>
                        </a>

                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="delete_set_id" value="{{ item.set.id }}">

                            <button
                                type="submit"
                                class="btn my-set-delete-btn d-flex justify-content-center align-items-center gap-2"
                                onclick="return confirm('Czy na pewno chcesz usunąć ten zestaw?');">
                                <i class="bi bi-trash action-icon"></i><span>Usuń</span>
                            </button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <p class="text-center mt-4 text-muted">Nie masz jeszcze żadnych zestawów</p>
            {% endfor %}

            <div class="row align-items-center">
                <div class="col-md-4 d-flex justify-content-start ps-5">
                    {{ page_obj.start_index }} - {{ page_obj.end_index }} z {{ page_obj.paginator.count }} {{ pagination_set_label }}

                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <nav aria-label="Pagination" class="mt-3">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="?filter={{ current_filter }}&page={{ page_obj.previous_page_number }}&per_page={{ per_page }}&q={{ search_query }}&sort={{ sort_by }}">
                                        <i class="bi bi-chevron-left"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link"><i class="bi bi-chevron-left"></i></a>
                                </li>
                            {% endif %}

                            {% for page in elided_page_range %}
                                {% if page == page_obj.number %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ page }}</span>
                                    </li>
                                {% elif page == pagination_ellipsis %}
                                    <li class="page-item">
                                        <span class="page-link">{{ pagination_ellipsis }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="?filter={{ current_filter }}&page={{ page }}&per_page={{ per_page }}&q={{ search_query }}&sort={{ sort_by }}"
                                        >
                                            {{ page }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a
                                        class="page-link"
                                        href="?filter={{ current_filter }}&page={{ page_obj.next_page_number }}&per_page={{ per_page }}&q={{ search_query }}&sort={{ sort_by }}"
                                    >
                                        <i class="bi bi-chevron-right"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link"><i class="bi bi-chevron-right"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <div class="col-md-4 pe-5">
                    <form method="get" class="d-flex align-items-center gap-2 justify-content-end">
                        <label class="page-size-label" for="per_page">Pokaż na stronie:</label>
                        <select class="page-size-select" name="per_page" id="per_page" onchange="this.form.submit()">
                            {% for page_size in allowed_page_sizes %}
                                <option value="{{ page_size }}" {% if per_page == page_size %}selected{% endif %}>{{ page_size }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="q" value="{{ search_query }}">
                        <input type="hidden" name="filter" value="{{ current_filter }}">
                        <input type="hidden" name="sort" value="{{ sort_by }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}