{% extends "words/base.html" %}
{% load static %}

{% block content %}
<div class="container py-5 text-center">
    <h1 class="section-title">
        Moje zestawy
    </h1>

    <a href="/my-sets/create/" class="btn study-btn btn-lg px-5 rounded-pill">
        + Nowy zestaw
    </a>
</div>
<div class="container mt-3" style="max-width: 700px;">
    {% for word_set in word_sets %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h6 class="mb-0">
            {{ word_set.name }} ({{ word_set.words.count }})
        </h6>

        <div class="d-flex justify-content-center gap-4">
            <a href="/study/{{ word_set.slug }}/" class="btn my-set-action-btn btn-sm rounded-pill">
                Ucz się
            </a>

            <a href="/my-sets/{{ word_set.slug }}/" class="btn my-set-action-btn btn-sm rounded-pill">
                Edytuj
            </a>
            <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="delete_set_id" value="{{ word_set.id }}">

                <button
                    type="submit"
                    class="btn my-set-action-btn btn-sm rounded-pill"
                    onclick="return confirm('Czy na pewno chcesz usunąć ten zestaw?');">
                    Usuń
                </button>
            </form>
        </div>
    </div>
{% empty %}
    <p>Nie masz jeszcze żadnych zestawów</p>
{% endfor %}
</div>
{% endblock %}