{% extends "words/base.html" %}
{% load static %}
{% block content %}

<div class="container" style="max-width: 1200px; ">
    <div class="ready-page">
        <div class="row align-items-center g-4">
            <div class="col-md-5 ps-lg-4">
                <div class="d-flex align-items-center gap-2">
                    <div class="ready-hero-icon stat-orange">
                        <i class="bi bi-briefcase-fill"></i>
                    </div>
                    <h1 class="page-hero-title mb-0">
                        Gotowe zestawy
                    </h1>
                </div>

                <p class="page-hero-text">
                    Wybierz kategorię słówek dopasowaną do swoich zainteresowań i rozpocznij naukę od razu bez tworzenia własnych zestawów.
                </p>

                <div class="mt-5">
                    <a href="#popularne" class="btn study-btn px-4">
                        Przeglądaj wszystkie zestawy
                    </a>
                </div>
            </div>

            <div class="col-md-7  text-center ps-xl-5">
                <img
                    src="{% static 'images/gotowe_zestawy_10.png' %}"
                    class="img-fluid"
                    style="max-width: 580px;"
                    alt="Gotowe zestawy"
                >
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <!-- PODRÓŻE -->

    <div class="sets-section">
        <h2 class="sets-title text-center">
            Podróże
        </h2>

        <div class="ready-sets-grid">
            {% for item in word_sets %}
                <a href="/study/{{ item.set.slug }}/" class="ready-set-card text-decoration-none">
                    <h6>{{ item.set.name }}</h6>
                    <small class="text-muted">{{ item.word_count }} {{ item.word_label }}</small>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}