{% extends "words/base.html" %}
{% load static %}
{% block content %}

<div class="container" style="max-width: 1200px; ">
    <div class="ready-page">
        <div class="row align-items-center g-4">
            <div class="col-md-5 ps-lg-4">
                <div class="d-flex align-items-center gap-2">
                    <div class="ready-hero-icon stat-orange">
                        <i class="bi bi-briefcase-fill"></i>
                    </div>
                    <h1 class="page-hero-title mb-0">
                        Gotowe zestawy
                    </h1>
                </div>

                <p class="page-hero-text">
                    Wybierz kategorię słówek dopasowaną do swoich zainteresowań i rozpocznij naukę od razu bez tworzenia własnych zestawów.
                </p>

                <div class="mt-5">
                    <a href="#popularne" class="btn study-btn px-4">
                        Przeglądaj wszystkie zestawy
                    </a>
                </div>
            </div>

            <div class="col-md-7  text-center ps-xl-5">
                <img
                    src="{% static 'images/gotowe_zestawy_10.png' %}"
                    class="img-fluid"
                    style="max-width: 580px;"
                    alt="Gotowe zestawy"
                >
            </div>
        </div>
    </div>
</div>

<div class="container mt-4" style="max-width: 1200px;">
    <div class="ready-sets-panel">
        <div class="ready-section-label">
            <i class="bi bi-star"></i>
            Popularne zestawy
        </div>
        <div class="ready-cards-grid">
            <div class="ready-card">
                <img
                    src="{% static 'images/airport_1.jpg' %}"
                    class="ready-card-image"
                    alt="Na lotnisku"
                >
                <div class="ready-card-body">

                    <div class="my-sets-stat-icon ready-card-icon stat-sky">
                        <i class="bi bi-airplane"></i>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="ready-card-title mb-0">
                            Na lotnisku
                        </h5>

                        <div class="ready-card-level level-a">
                            A1-A2
                        </div>
                    </div>

                    <div class="ready-card-description">
                        Najczęściej używane zwroty na lotnisku i podczas odprawy.
                    </div>

                    <div class="ready-card-meta">
                        58 słówek
                    </div>

                    <a href="" class="btn my-set-study-btn w-100">
                       Ucz się
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}