{% extends "words/base.html" %}
{% load static %}
{% block content %}

<div class="container py-5">
    <div class="text-center mb-5">
        <h2 class="study-title">
            {{ word_set.name }}
        </h2>

    </div>

    <div class="card shadow text-center mx-auto mb-4" style="max-width: 600px;">
        <div class="card-body py-5">
            <h2 class="study-word">
                {{ word.text_pl }}
            </h2>
        </div>
    </div>

    <div class="mx-auto" style="max-width: 600px">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word.id }}">
            <input
                type="text"
                name="answer"
                class="form-control form-control-lg mb-1"
                placeholder="odpowiedź"
                autofocus
            >

            <p class="feedback-text text-center">
                {{ result }}
            </p>

            <div class="text-center d-flex justify-content-center gap-3 mt-4">
                <button
                    type="submit"
                    class="btn study-btn btn-lg rounded-pill">
                    Sprawdzam
                </button>

                <button
                    type="submit"
                    class="btn end-btn btn-lg rounded-pill"
                    name="end_session">
                    Od nowa
                </button>

                <button
                    type="submit"
                    class="btn end-btn btn-lg rounded-pill"
                    name="end_study">
                    Zakończ
                </button>
            </div>
        </form>


    </div>

    <div class="container mt-5" style="max-width: 700px">
        <div class="row align-items-center justify-content-center g-5">
            <div class="col-auto">
                <div class="mx-auto" style="min-width: 250px;">
                    <h4 class="mb-4">
                        Statystyki:
                    </h4>

                    <div class="d-flex justify-content-between mb-1">
                        <span>Poprawne odpowiedzi:</span>
                        {{ correct_answers }}
                    </div>

                    <div class="d-flex justify-content-between mb-1">
                        <span>Błędne odpowiedzi:</span>
                        {{ wrong_answers }}
                    </div>

                    <div class="d-flex justify-content-between mb-1">
                        <span>Skuteczność:</span>
                        {{ success_rate }}%
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <img
                    src="{% static 'images/stats_1.jpg' %}"
                    class="img-fluid stats-image"
                    style="max-width: 200px;"
                    alt="Statystyki nauki">
            </div>

        </div>
    </div>
</div>
{% endblock %}