{% extends "words/base.html" %}
{% load static %}
{% block content %}

<div class="container py-5">
    <div class="text-center mb-5">
        <h2 class="study-title">
            {{ word_set.name }}
        </h2>

    </div>

    {% if study_finished %}

    <div class="card shadow text-center mx-auto mb-4" style="max-width: 600px;">
        <div class="card-body py-5">
            <h2 class="study-word">
                Gratulacje!
            </h2>

            <p class="text-muted mt-3 mb-0">
                Ukończyłeś cały zestaw.
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
        <form method="post" class="m-0">
            {% csrf_token %}
            <button
                type="submit"
                class="btn main-action-btn"
                name="end_session">
                Ucz się od nowa
            </button>
        </form>

        <form method="post" class="m-0">
            {% csrf_token %}

            <button
                type="submit"
                class="btn end-btn"
                style="min-width: 220px;"
                name="end_study">
                Wróć do zestawów
            </button>
        </form>
    </div>

    {% else %}

    <div class="card shadow text-center mx-auto mb-4" style="max-width: 600px;">
        <div class="card-body py-5">
            <h2 class="study-word">
                {{ word.text_pl }}
            </h2>
        </div>
    </div>

    <div class="mx-auto" style="max-width: 600px">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word.id }}">
            <input
                type="text"
                name="answer"
                class="form-control form-control-lg mb-1 answer-input {{ result_class }}"
                placeholder="{% if not result %}odpowiedź{% endif %}"
                value="{{ user_answer }}"
                autofocus
                {% if show_next_button %}readonly{% endif %}
            >

            <p class="feedback-text text-center feedback-{{ result_class }}">
                {{ result }}
            </p>

            <div class="text-center d-flex justify-content-center gap-3 mt-4">
                {% if show_next_button %}
                    <button
                        type="submit"
                        class="btn study-btn btn-lg"
                        name="next_word">
                        Dalej
                    </button>
                {% else %}
                    <button
                        type="submit"
                        class="btn study-btn btn-lg">
                        Sprawdzam
                    </button>
                {% endif %}
                <button
                    type="submit"
                    class="btn end-btn btn-lg"
                    name="end_session">
                    Od nowa
                </button>

                <button
                    type="submit"
                    class="btn end-btn btn-lg"
                    name="end_study">
                    Zakończ
                </button>
            </div>
        </form>


    </div>
    {% endif %}
    <div class="container mt-5" style="max-width: 700px">
        <div class="row align-items-center justify-content-center g-5">
            <div class="col-auto">
                <div class="mx-auto" style="min-width: 250px;">
                    <h4 class="mb-4">
                        Statystyki:
                    </h4>

                    <div class="d-flex justify-content-between mb-1">
                        <span>Poprawne odpowiedzi:</span>
                        {{ correct_answers }}
                    </div>

                    <div class="d-flex justify-content-between mb-1">
                        <span>Błędne odpowiedzi:</span>
                        {{ wrong_answers }}
                    </div>

                    <div class="d-flex justify-content-between mb-1">
                        <span>Skuteczność:</span>
                        {{ success_rate }}%
                    </div>

                    {% if study_finished and difficult_words_summary %}

                        <h4 class="mt-5 mb-3">
                            Najtrudniejsze słówka:
                        </h4>

                        {% for item in difficult_words_summary %}
                            <div class="d-flex justify-content-between mb-2">
                                <span>
                                    {{ item.word.text_pl }} → {{ item.word.text_en }}
                                </span>

                                <span>
                                    {{ item.mistakes }} bł.
                                </span>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>

            {% if not study_finished %}
                <div class="col-auto">
                    <img
                        src="{% static 'images/stats_1.jpg' %}"
                        class="img-fluid stats-image"
                        style="max-width: 200px;"
                        alt="Statystyki nauki">
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}